#ov-cropper-mask {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  cursor: crosshair;
  z-index: 999999999;
}

#ov-cropper-selection {
  position: fixed;
  border: 2px solid #00ff99;
  background: rgba(0, 255, 153, 0.2);
  z-index: 1000000000;
}